[includeIf "gitdir:~/work/develcode/"]
	path = ~/work/develcode/.gitconfig.develcode

[includeIf "gitdir:~/work/bitbucket/"]
	path = ~/work/bitbucket/.gitconfig.bitbucket

[includeIf "gitdir:~/work/rd/"]
	path = ~/work/rd/.gitconfig.rd

[includeIf "gitdir:~/work/rd/git-cloud/"]
	path = ~/work/rd/git-cloud/.gitconfig.rd
	
[includeIf "gitdir:~/dev/"]
	path = ~/dev/.gitconfig.pers

[core]
	excludesFile = ~/.gitignore
	editor="vim"

[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow reverse
  remote  = green

[color "diff"]
  meta = blue
  frag = magenta
  old  = red
  new  = green

[color "status"]
  added = green
  changed = yellow
  untracked = magenta

[alias]
	unstage = reset
	uncommit = reset --soft HEAD^
	s = status -s
	a = add
	c = commit
	co = checkout
	d = difftool
	l = log --pretty='format:%C(Yellow)%h %C(reset)%ad (%C(green)%cr%C(reset))%n%C(red)$ %C(cyan)%an: %C(reset)%s%n' --date=short
	lg = log --oneline --decorate --graph --all --date=local
	dft = difftool

